.fbar {
    background-color: black;
    text-align: center;
    padding: 1rem 0 1rem;
}
.expandible{
    padding: 1rem;
    background-color: rgb(81, 90, 90);
}
.link-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link-list > a {
    display:inline-block;
    padding-right: 1rem;
}