.fbar {
    background-color: black;
    text-align: center;
    padding: 1rem 0 1rem;
}
.expandable{
    padding: 1rem;
    background-color: rgba(43, 38, 38, 0.5);
    text-align: center;
}
.link-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.7rem 2rem;
}
.link-list > a {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    display:inline-block;
    padding-right: 2rem;
}