.component {
    background-color: rgb(34, 34, 34);
    color: rgb(157, 157, 157);
    display:grid;
    grid-template-columns: 17% 60% 20%;
    grid-gap: 1.5%;
}

@media (min-width: 960px) {
    .component{
        grid-template-columns: 10% 67% 18%;
        grid-gap: 2.5%;
    }
}
