.feedbackify{
    color: rgb(86, 124, 86)
}
.feedbackify .btn{
    color: rgb(86, 124, 86)
}
.feedbackify .btn.active{
    font-weight: bold;
}

.fbar{
    color: rgb(158, 12, 12);
    background-color: rgb(171, 221, 221);
}
.header{
    min-height: 1rem;
    color:rgb(143, 3, 3);
}
.light-logo{
    color: white;
}
a, a:visited, a:active{
    color:#008080;
}

.pop{
    box-shadow: 0.1rem 0.1rem 0.3rem 0.4rem #ccc;
    background-color: rgb(48, 97, 97);
}