.feedbackify{
    color: rgb(86, 124, 86)
}
.feedbackify .btn{
    color: rgb(86, 124, 86)
}
.feedbackify .btn.active{
    font-weight: bold;
}

.fbar{
    color: rgb(158, 12, 12);
    background-color: rgb(171, 221, 221);
}