.hbar {
    background-color: rgba(43, 38, 38, 0.5);
    color: #fff;
    display:grid;
    grid-template-columns: 10% 70% 10%;
    grid-gap: 5%;
}

.leader {
    color: #fff;
}

.leader svg {
    fill:currentColor;
}

.core {
    color: #fff;
    display: inline-block;
}

.follower {
    color: #fff;
}