.search{
    /* Nothing here yet */
}

.search-compact{
    transition: transform 500ms ease-in-out;
    display:inline-block;
    white-space: nowrap;
}

.button-holder{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 2rem;
}