.search{
}
.search.visible{
    visibility:visible;
}
.search.invisible{
    visibility: hidden;
}

.search-compact{
    transition: transform 500ms ease-in-out;
    display:inline-block;
    white-space: nowrap;
}

.search-area{
}

.search-button-area{

}

.icon{
    font-size: 2rem;
}